pipeline/1 Master Pipeline.json
{
	"name": "1 Master Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Hydration Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "master logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2 Hydration File Movement",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute full load Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Hydration Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3 Full Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute incremental Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Hydration Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "4 Incremental Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute DBW merge Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute full load Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute incremental Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "5 DBW_DL_TO_DELTA_DATA_MERGE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute transform Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute DBW merge Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "6 transformation-DBW",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "master logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_ADFStartLogs]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_ParentPipelineName": {
								"type": "String",
								"value": null
							},
							"p_ParentRunId": {
								"type": "String",
								"value": null
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onprems_tables",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "master success end logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute DBW merge Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": "",
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('master logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": {
								"value": "@variables('V_status_success')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprems_server",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "master failure end logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute DBW merge Pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": {
								"value": "@activity('Execute DBW merge Pipeline').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('master logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": {
								"value": "@variables('V_status_fail')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprems_server",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "send mail alert on dbw merge activity fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute DBW merge Pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/726a1dbe7c034d4ab4af4a228b75f592/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=kVZmtYOFbTsuZFDPTuW-lz5gyaG2vvKTIFkk4fq1iWY",
					"body": {
						"value": "{\n    \"ErrorMessage\": \"@{activity('Execute DBW merge Pipeline').error.message}\",\n    \"Pipeline\": \"@{pipeline().Pipeline}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"RunId\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "send alerts on transform activity failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute transform Pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-15.centralindia.logic.azure.com:443/workflows/726a1dbe7c034d4ab4af4a228b75f592/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=kVZmtYOFbTsuZFDPTuW-lz5gyaG2vvKTIFkk4fq1iWY",
					"body": {
						"value": "{\n    \"ADF Name\": \"@{pipeline().DataFactory}\",\n    \"Pipeline Name\": \"@{pipeline().Pipeline}\",\n    \"Run ID\": \"@{pipeline().RunId}\",\n    \"Error Message\": \"@{activity('Execute transform Pipeline').error.message}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "master success end logs for transform activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute transform Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": "",
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('master logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": {
								"value": "@variables('V_status_success')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprems_server",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "master failure end logs for transform activity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute transform Pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": {
								"value": "@activity('Execute transform Pipeline').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('master logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": {
								"value": "@variables('V_status_fail')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprems_server",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"V_status_success": {
				"type": "String",
				"defaultValue": "success"
			},
			"V_status_fail": {
				"type": "String",
				"defaultValue": "failure"
			}
		},
		"folder": {
			"name": "reportingProj"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-25T13:02:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}