pipeline/2 Hydration File Movement.json
{
	"name": "2 Hydration File Movement",
	"properties": {
		"activities": [
			{
				"name": "sharepoint to hydration",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "start logs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sharepoint",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_hydration",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('File Name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "hydration to azure sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sharepoint to hydration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table client.hydration;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_hydration",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('File Name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azuresql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "start logs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_ADFStartLogs]",
						"storedProcedureParameters": {
							"p_ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"p_ParentPipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								}
							},
							"p_ParentRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								}
							},
							"p_PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"p_RunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"p_StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_onprems_tables",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "success logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "hydration to azure sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('start logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": {
								"value": "@variables('v_status_success')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprems_server",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "fail logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "hydration to azure sql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ADFEndLogs]",
					"storedProcedureParameters": {
						"p_EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"p_ErrorMessage": {
							"value": {
								"value": "@activity('hydration to azure sql').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_id": {
							"value": {
								"value": "@activity('start logs').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_Status": {
							"value": {
								"value": "@variables('v_status_fail')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprems_server",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"File Name": {
				"type": "String",
				"defaultValue": "Hydration File"
			},
			"v_status_success": {
				"type": "String",
				"defaultValue": "Success"
			},
			"v_status_fail": {
				"type": "String",
				"defaultValue": "Fail"
			}
		},
		"folder": {
			"name": "reportingProj"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-23T12:52:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}