pipeline/4 Incremental Load.json
{
	"name": "4 Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Fetch Incremental Tables Info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *\nfrom [client].[hydration]\nwhere LoadType = 'inc' and Status = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "incremental tables from onprems to bronze",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch Incremental Tables Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Incremental Tables Info').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "max table update time",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(ModifiedDate) as maxUpdateDate from ', item().sourceSchema, '.', item().sourceTableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_onprems_tables",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "watermark date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select watermarkDateTime from client.watermarktable ', ' where tablename = ''',item().sourceTableName,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azuresql",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max table update time",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "watermark date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ', item().sourceSchema, '.', item().sourceTableName, ' where ModifiedDate > ''', activity('watermark date').output.firstRow.watermarkDateTime,'''', ' and ModifiedDate <= ''', activity('max table update time').output.firstRow.maxUpdateDate,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprems_tables",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update watermarkDateTime",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_azuresqlserver",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update client.watermarktable set watermarkDateTime = ''', activity('max table update time').output.firstRow.maxUpdateDate,'''', 'where tablename = ''', item().sourceTableName,'''')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "reportingProj"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-23T12:52:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}